@import "../../assets/styles/styles";

.project-card {
  margin-top: 25px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__exists {
    border-top: $basic-border-design-1px;
  }

  &__name_and_links {
    display: grid;
    align-items: center;
    text-align: left;
    grid-template-columns: 5fr 1fr 1fr;
  }

  &__name {
    @include mediaScreenFont(32px, 18px, 16px);
    @include secondaryFontText();
  }

  &__link {
    @include anchor();
    @include mediaScreenFont(48px, 40px, 32px);
    @include secondaryFontText();
  }

  &__desc {
    @include mediaScreenFont(18px, 16px, 14px);
    @include secondaryFontText();
    min-height: 70px;
  }

  &__img {
    height: 200px;
    border: $basic-border-design-1px;
    z-index: 2;
  }

  &__img, &__name_and_links {
    width: 400px;
  }
}