@import "../../assets/styles/styles";

.header-container {
  
  display: flex;
  flex-direction: column;

  padding: 0 0 192px 192px;

  &__header {
    @include heading(96px, 18px, 12px);
  }

  &__subheader {
    @include mainText(48px, 18px, 12px);
  }
}