@import "../../assets/styles/styles";

.header-container {
  
  display: flex;
  flex-direction: column;

  padding: 500px 0 0 192px;

  &__header {
    @include mediaScreenFont(96px, 18px, 12px);
    @include primaryFontText();
  }

  &__subheader {
    @include mediaScreenFont(48px, 18px, 12px);
    @include secondaryFontText();
  }
}