@import "../../assets/styles/styles";

.nav {
  height: 10%;
  width: 100%;
}

.nav-bar {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 45%;
  height: 100%;
  margin: auto;
  padding-top: 40px;

  > :nth-child(-n+3) {
    border-right: $navbar-border-right-3px;
  }

  &__anchor, &__anchor > a {
    @include navBarItem();
  }
}