@import "../../assets/styles/styles";

.contact-me {
  @include mainContent();
  display: flex;
  flex-direction: column;
  
  &__header {
    @include mainContentSubheader();
  }

  &__content {
    @include mediaScreenFont(24px, 16px, 12px);
    @include secondaryFontText();
    padding-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__link {
    list-style: none;
  }

  &__link > a {
    @include anchor();
    @include mediaScreenFont(96px, 72px, 48px);
    @include secondaryFontText();
  }
}