// Mixins

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin starInfo($size, $time) {
  width: $size;
  height: $size;
  background: transparent;
  animation: animStar $time linear infinite;
  z-index: 1;
}

@mixin starAfter($size) {
  width: $size;
  height: $size;
  background: transparent;
  content: " ";
  position: absolute;
  top: (--top-height-after);
}

@mixin anchor($desktop-font, $tablet-font, $phone-font) {
  color: $text-primary-colour;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $anchor-hover-colour;
    cursor: pointer;
    text-decoration: underline;
  }

  font-size: $desktop-font;

  @media screen and (max-width: 992px) {
    font-size: $tablet-font;
  }

  @media screen and (max-width: 660px) {
    font-size: $phone-font;
  }
}

@mixin flexSpaceBetween() {
  display: flex;
  justify-content: space-between;
}

@mixin primaryText() {
  color: $text-primary-colour;
  font-family: $heading-font;
}

@mixin secondaryText() {
  color: $text-primary-colour;
  font-family: $secondary-font;
}

@mixin borderTopBorder($width, $margin-left) {
  border-top: $basic-border-design-1px;
  width: $width;
  margin-left: $margin-left;
}

@mixin heading($desktop-font, $tablet-font, $phone-font) {
  @include primaryText();
  font-size: $desktop-font;

  @media screen and (max-width: 992px) {
    font-size: $tablet-font;
  }

  @media screen and (max-width: 660px) {
    font-size: $phone-font;
  }
}

@mixin mainText($desktop-font, $tablet-font, $phone-font) {
  @include secondaryText();
  font-size: $desktop-font;

  @media screen and (max-width: 992px) {
    font-size: $tablet-font;
  }

  @media screen and (max-width: 660px) {
    font-size: $phone-font;
  }
}