// Mixins

@import "./variables";

@keyframes animStar {

  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY($transform-Y);
  }
}

@mixin starInfo($size, $time) {
  width: $size;
  height: $size;
  background: transparent;
  position: absolute;
  animation: animStar $time linear infinite;
  z-index: 1;
  overflow-y: hidden;
}

@mixin starAfter($size) {
  width: $size;
  height: $size;
  background: transparent;
  content: " ";
  position: absolute;
  top: $top-height-after;
  overflow-y: hidden;
}

@mixin mediaScreenFont($desktop-font, $tablet-font, $phone-font) {
  font-size: $phone-font;

  @media screen and (min-width: $responsive-phone) {
    font-size: $tablet-font;
  }

  @media screen and (min-width: $responsive-tablet) {
    font-size: $desktop-font
  }
}

@mixin anchor() {
  text-decoration: none;

  &:hover {
    color: $anchor-hover-colour;
    cursor: pointer;
    text-decoration: underline;
  }
}

@mixin flexSpaceBetween() {
  display: flex;
  justify-content: space-between;
}

@mixin primaryFontText() {
  color: $text-primary-colour;
  font-family: $heading-font;
}

@mixin secondaryFontText() {
  color: $text-primary-colour;
  font-family: $secondary-font;
}

@mixin mainContent() {
  width: 30%;
  position: absolute;
  top: 20%;
  right: 10%;
  text-align: center;
}

@mixin mainContentSubheader() {
  @include mediaScreenFont(48px, 24px, 16px);
  @include primaryFontText();
  padding-bottom: 20px;
}

@mixin navBarItem() {
  list-style-type: none;
  width: 60%;
  height: 65%;
  text-align: center;
  @include anchor();
  @include secondaryFontText();
  @include mediaScreenFont(24px, 18px, 12px);
}

@mixin mainContentText() {
  @include secondaryFontText();
  @include mediaScreenFont(22px, 16px, 10px);
}